.container
  .row
    .offset3
      %h2 Login
  .row
    .offset2
      - if @auth_errors[:general]
        %p.text-error= @auth_errors[:general]

    %form.form-horizontal{:method => "POST", :action => "#{EnvironmentHelper.route('login')}"}
      .control-group{:class => ('error' if @auth_errors[:name])}
        %label.control-label{:for => "inputName"} Name
        .controls
          %input#inputName{:type => "text", :placeholder => "Name", :name => "name"}
          - if @auth_errors[:name]
            %span.help-inline= @auth_errors[:name]

      .control-group{:class => ('error' if @auth_errors[:password])}
        %label.control-label{:for => "inputPassword"} Password
        .controls
          %input#inputPassword{:type => "password", :placeholder => "Password", :name => "password"}
          - if @auth_errors[:password]
            %span.help-inline= @auth_errors[:password]
      .control-group
        .controls
          %button.btn{:type => "submit"} Sign in
          %a.btn-link.btn{:href => "#{EnvironmentHelper.route('register')}"} Register
