!!!
%html
  %head
    %title VTF
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags

  .row
    %h1.text-center Vulnerability Test Field
    = link_to "Sign out", destroy_user_session_path, :method => :delete, :class => "btn btn-link pull-right", :id => "sign-out-btn"
  .row
    .container-fluid
      .row-fluid
        .span2
          = render "shared/categories"
        .span8
          = yield
